<template>
  <div class="fullBlock">
    <a-page-header title="高校满意度调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
      <template #extra>
        <a-button type="" @click="logout()">注销</a-button>
      </template>
      <a-menu v-model="current" mode="horizontal" @click="handleNav">
        <a-menu-item key="projectManage">
          <a-icon type="appstore" />项目管理
        </a-menu-item>
        <a-menu-item key="surveyManage">
          <a-icon type="file-done" />问卷管理
        </a-menu-item>
      </a-menu>

    </a-page-header>
    <div class="narrPage">
      <div class="formBox">
        <div class="formArea">
          <a-row>
            <a-col :span="24">
              <a-input v-model="sendInfo.title" placeholder="标题"></a-input>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-input v-model="sendInfo.context" placeholder="内容"></a-input>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-select ref="select" v-model="sendInfo.sendType" placeholder="发送类型" block>
                <a-select-option value="0">
                  邮件
                </a-select-option>
                <a-select-option value="1">
                  QQ
                </a-select-option>
                <a-select-option value="2">
                  微信
                </a-select-option>
              </a-select>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-date-picker show-time placeholder="发送时间" v-model="timeObj" />
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-upload :beforeUpload="beforeUpload">
                <a-button>
                  <a-icon type="upload" /> 导入人员信息
                </a-button>
              </a-upload>
                
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-button type="primary" @click="confirmSend" block>确认发送</a-button>
            </a-col>
          </a-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as xlsx from "xlsx"
import axios from "axios"
const baseUrl = `${process.env.VUE_APP_BASEURL}`
export default {
  data() {
    return {
      subTitleText: "问卷发送",
      current: [""],
      file: null,
      sendInfo: {
        sendTime: "",
        title: "",
        context: "",
        sendType: "",
        respondentInfo: ""
      },

      timeObj: null,
      format:"YYYY-MM-DD HH:mm:ss"

    };
  },
  methods: {
    beforeUpload(file) {
      this.file = file ? file: null;
      let fileReader = new FileReader()
      fileReader.onload = (event) => {
        let data = event.target.result
        let workbook = xlsx.read(data, { type: "binary" })
        let sheet = workbook.Sheets[workbook.SheetNames[0]]
        this.sendInfo.respondentInfo = xlsx.utils.sheet_to_json(sheet)
        console.log(this.sendInfo.respondentInfo)
      }
      fileReader.readAsBinaryString(this.file)
      return false;
    },
  
    confirmSend() {
      const url = baseUrl+"/sendSurvey"
      this.sendInfo.sendTime = this.timeObj.format(this.format)
      this.sendInfo.context+="\nhttp://localhost:8080/surveyAnswer?surveyId="+this.$route.query.surveyId+"&projectId="+this.$route.query.projectId
      const payload = {
        ...this.sendInfo,
        surveyId: this.surveyId,
      }
      for (let prop in payload) {
        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!"+prop)
          return
        }
      }
      axios
      .post(url,payload)
      .then((res) => {
          if(res.data.code == 801){
              this.$message.info("请求成功")
          }
          else{
            this.$message.info("请求失败")
          }
      })
      .catch((e) => {
        this.$message.error("请求出错")
        console.warn(e)
      })

    },

    handleNav(e) {
      if (e.key == "projectManage") {
        this.$router.push("/projectTable")
      }
      else if (e.key == "surveyManage") {
        this.$router.push("/surveyTable")
      }
    }
  },
  mounted(){
    this.surveyId= this.$route.query.surveyId
  }
};
</script>
