<template>
    <div class="fullBlock">
        <a-page-header title="高校满意度调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
            <template #extra>
                <a-button type="" @click="logout()">注销</a-button>
            </template>
            <a-menu v-model="current" mode="horizontal" @click="handleNav">
                <a-menu-item key="projectManage">
                    <a-icon type="appstore" />项目管理
                </a-menu-item>
                <a-menu-item key="surveyManage">
                    <a-icon type="file-done" />问卷管理
                </a-menu-item>
            </a-menu>

        </a-page-header>

        <div class="page">
            <div class="btnArea">
                <template>
                    <a-button @click="handleCreate()" type="primary">创建问卷</a-button>
                </template>
            </div>

            <a-table :dataSource="surveyList" :columns="surveyColumns" :rowKey='record => record.id'>

                <template slot="operation" slot-scope="text, record">
                    <a-button @click="updateSurvey(record.id)">编辑</a-button>
                    <a-button @click="previewSurvey(record.id)">预览</a-button>
                    <template>
                        <a-popconfirm v-if="surveyList.length" title="确定删除吗?" @confirm="deleteSurvey(record.id)">
                            <a-button>删除</a-button>
                        </a-popconfirm>
                    </template>
                </template>

                <div slot="filterDropdown" slot-scope="{ setSelectedKeys, selectedKeys, confirm, clearFilters, column }"
                    style="padding: 8px">
                    <a-input v-ant-ref="c => (searchInput = c)" :placeholder="`Search ${column.dataIndex}`"
                        :value="selectedKeys[0]" style="width: 188px; margin-bottom: 8px; display: block;"
                        @change="e => setSelectedKeys(e.target.value ? [e.target.value] : [])"
                        @pressEnter="() => handleSearch(selectedKeys, confirm, column.dataIndex)" />
                    <a-button type="primary" icon="search" size="small" style="width: 90px; margin-right: 8px"
                        @click="() => handleSearch(selectedKeys, confirm, column.dataIndex)">
                        Search
                    </a-button>
                    <a-button size="small" style="width: 90px" @click="() => handleReset(clearFilters)">
                        Reset
                    </a-button>
                </div>
                <a-icon slot="filterIcon" slot-scope="filtered" type="search"
                    :style="{ color: filtered ? '#108ee9' : undefined }" />
                <template slot="customRender" slot-scope="text, record, index, column">
                    <span v-if="searchText && searchedColumn === column.dataIndex">
                        <template v-for="(fragment, i) in text
                        .toString()
                        .split(new RegExp(`(?<=${searchText})|(?=${searchText})`, 'i'))">
                            <mark v-if="fragment.toLowerCase() === searchText.toLowerCase()" :key="i"
                                class="highlight">{{ fragment
                                }}</mark>
                            <template v-else>{{ fragment }}</template>
                        </template>
                    </span>
                    <template v-else>
                        {{ text }}
                    </template>
                </template>

            </a-table>
        </div>
    </div>
</template>
<script>

import axios from "axios"
const baseUrl = `${process.env.VUE_APP_BASEURL}`

export default {
    data() {
        return {
            subTitleText: "问卷管理",
            current: [""],
            surveyList: [],
            surveyColumns: [],
            choModalVisible: false,
            modelModalVisible: true,

            searchText: '',
            searchInput: null,
            searchedColumn: '',

        }
    },


    //method************************************************
    methods: {
        getSurveyList() {
            const url = baseUrl + "/querySurveyList"
            let params = {}

            axios.get(url, {
                params
            })
                .then((res) => {
                    if (res.data.code == 801) {
                        this.surveyList = res.data.surveyList
                        console.log(this.surveyList)
                    }
                    else {
                        console.log(res.data)
                        this.$message.warn(res.data.message)
                    }
                }
                )
                .catch((e) => {
                    console.warn(e)
                    this.$message.error("query error")
                })
            console.log(this.$router)
        },
        deleteSurvey(surveyId) {
            const url = baseUrl + "/deleteSurvey"
            const params = { surveyId }
            axios
                .delete(url, {
                    params
                })
                .then((res) => {
                    if (res.data.code == 801) {
                        this.$message.info("删除成功")
                        this.getSurveyList();
                    }
                    else {
                        this.$message.warn(res.data.message)
                        console.warn(res.data)
                    }
                })
                .catch((e) => {
                    this.$message.error("请求出错")
                    console.warn(e)
                })

        },
        updateSurvey(surveyId) {
            this.$router.push({ path: "/surveyDesigner/survey", query: { surveyId } })
        },

        handleCreate() {
            this.$router.push("/surveyCreation")
        },
        logout() {

        },

        previewSurvey(surveyId) {
            this.$router.push({ path: "/surveyPreview", query: { surveyId } })
        },
        handleNav(e) {
            if (e.key == "projectManage") {
                this.$router.push("/projectTable")
            }
            else if (e.key == "surveyManage") {
                this.$router.push("/surveyTable")
            }
        },

        handleSearch(selectedKeys, confirm, dataIndex) {
            confirm();
            this.searchText = selectedKeys[0];
            this.searchedColumn = dataIndex;
        },

        handleReset(clearFilters) {
            clearFilters();
            this.searchText = '';
        },


    },
    //hook***************************************
    mounted: function () {
        this.purpose = this.$route.params.purpose;
        this.getSurveyList();
        this.surveyColumns = [
            {
                title: "问卷id",
                dataIndex: "id",
                width: "20%",
                scopedSlots: {
                    filterDropdown: 'filterDropdown',
                    filterIcon: 'filterIcon',
                    customRender: 'customRender',
                },
                onFilter: (value, record) =>
                    record.id
                        .toString()
                        .toLowerCase()
                        .includes(value.toLowerCase()),
                onFilterDropdownVisibleChange: visible => {
                    if (visible) {
                        setTimeout(() => {
                            this.searchInput.focus();
                        }, 0);
                    }
                },
            },

            {
                title: "问卷名",
                dataIndex: "surveyName",
                width: "45%",
                scopedSlots: {
                    filterDropdown: 'filterDropdown',
                    filterIcon: 'filterIcon',
                    customRender: 'customRender',
                },
                onFilter: (value, record) =>
                    record.surveyName
                        .toString()
                        .toLowerCase()
                        .includes(value.toLowerCase()),
                onFilterDropdownVisibleChange: visible => {
                    if (visible) {
                        setTimeout(() => {
                            this.searchInput.focus();
                        }, 0);
                    }
                },
            },
            {
                title: "操作",
                dataIndex: "operation",
                width: "35%",
                scopedSlots: { customRender: 'operation' },
            }

        ]
    },
    //other
    watch: {

    }
}

</script>