<template>
  <div class="fullBlock">
    <a-page-header title="高校满意度调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
      <template #extra>
        <a-button type="" @click="logout()">注销</a-button>
      </template>
      <a-menu v-model="current" mode="horizontal" @click="handleNav">
        <a-menu-item key="projectManage">
          <a-icon type="appstore" />项目管理
        </a-menu-item>
        <a-menu-item key="surveyManage">
          <a-icon type="file-done" />问卷管理
        </a-menu-item>
      </a-menu>

    </a-page-header>
    <div class="page">
      <survey :survey="model"></survey>
    </div>
  </div>
</template>

<script>
import * as SurveyVue from "survey-vue";
import "survey-vue/modern.css";
import axios from "axios"
SurveyVue.StylesManager.applyTheme("defaultV2");
const Survey = SurveyVue.Survey;
SurveyVue.Serializer.addProperty("question", "tag:number");
const baseUrl = `${process.env.VUE_APP_BASEURL}`


//TODO:测试;隐藏提交按钮 
export default {
  components: {
    Survey
  },
  data() {
    return {
      subTitleText: "预览问卷",
      current: [""],
      surveyJson: "{}",
    };
  },
  methods: {
    getSurveyContent() {
      const url = baseUrl + "/querySurveyById"
      const surveyId = this.$route.query.surveyId
      const params = {surveyId}
      axios
        .get(url, {
          params
        })
        .then((res) => {
          if (res.data.code == 801) {
            if (this.$route.query.projectId) {
              this.surveyJson = res.data.surveyData.surveyContent
            }
            else {
              this.surveyJson = res.data.surveyData.surveyContent
            }
          }
          else {
            this.$message.warn("请求失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("请求出错")
        })
    },
            handleNav(e){
            if(e.key=="projectManage"){
                this.$router.push("/projectTable")
            }
            else if(e.key=="surveyManage"){
                this.$router.push("/surveyTable")
            }
        }
  },
  computed: {
    model: function () {
      return new SurveyVue.Model(this.surveyJson);
    }
  },
  mounted: function () {
    this.getSurveyContent()
  }
};

</script>

<style>
</style>
