<template>
  <div style="height:80%;width:100%">
    <a-page-header title="高校满意度调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
      <template #extra>
        <a-button type="" @click="logout()">注销</a-button>
      </template>
      <a-menu v-model="current" mode="horizontal" @click="handleNav">
        <a-menu-item key="projectManage">
          <a-icon type="appstore" />项目管理
        </a-menu-item>
        <a-menu-item key="surveyManage">
          <a-icon type="file-done" />问卷管理
        </a-menu-item>
      </a-menu>
    </a-page-header>
    <div class="page">
      <div id="surveyCreator"></div>

    </div>
  </div>
</template>

<script>
import { SurveyCreator } from "survey-creator-knockout";
import { localization } from "survey-creator-core";
import "survey-creator-core/survey-creator-core.i18n";
import "survey-core/defaultV2.min.css"
import "survey-creator-core/survey-creator-core.min.css"
import axios from "axios";
import moment from "moment"
const baseUrl = `${process.env.VUE_APP_BASEURL}`


localization.currentLocale = "zh-cn";
const creatorOptions = {
  showLogicTab: false,
  showJSONEditorTab: false,
  isAutoSave: true,
  //questionTypes: ["text", "checkbox", "radiogroup", "mutiple-text"]
};


export default {
  name: "survey-creator",
  data() {
    return {
      subTitleText: "编辑问卷",
      current: [""],
      purpose: "",
      token: "",
      surveyJson: "{}",
      creator: null,
      startTime: "",
      endTime: "",
      format: "YYYY-MM-DD HH:mm:ss",
      surveyStatus:0
    }
  },
  methods: {
    saveSurveyJson(url, json, saveNo, callback) {
      let payload = {
        surveyId: this.$route.query.surveyId,
        surveyName: json.title,
        surveyContent: JSON.stringify(json),
        startTime:this.startTime.format(this.format),
        endTime:this.endTime.format(this.format),
        surveyStatus: this.surveyStatus
      }
      if (this.$route.query.projectId) { //在项目中编辑问卷
        payload.projectId = this.$route.query.projectId
      }
      console.log(payload)
      axios
        .put(url, payload, {
          Authorization: this.token
        })
        .then((res) => {
          if (res.data.code == 801) {
            callback(saveNo, true);
          }
          else {
            callback(saveNo, false);
          }
        })
        .catch((e) => {
          callback(saveNo, false);
          console.warn(e)
        })
    },

    getSurveyContent() {
      const url = baseUrl + "/querySurveyById"
      const surveyId = this.$route.query.surveyId
      const params = { surveyId }
      if (this.$route.projectId) {
        params.projectId = this.$route.query.projectId
      }
      axios
        .get(url, {
          params
        })
        .then((res) => {
          if (res.data.code == 801) {
            this.startTime = moment(res.data.surveyData.startTime)
            this.endTime = moment(res.data.surveyData.endTime)
            this.surveyJson = res.data.surveyData.surveyContent
            this.surveyStatus = res.data.surveyData.surveyStatus
            this.creator.text = this.surveyJson;

          }
          else {
            this.$message.warn("请求失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("请求出错")
        })
    },
    handleNav(e) {
      if (e.key == "projectManage") {
        this.$router.push("/projectTable")
      }
      else if (e.key == "surveyManage") {
        this.$router.push("/surveyTable")
      }
    }
  },



  mounted: function () {
    this.purpose = this.$route.params.purpose
    this.token = this.$store.userToken
    this.creator = new SurveyCreator(creatorOptions);
    const whiteList = [];
    this.creator.onShowingProperty.add(function (_, options) {
      options.canShow = whiteList.indexOf(options.property.name) > -1;
    })

    this.getSurveyContent();

    this.creator.text = this.surveyJson;

    this.creator.saveSurveyFunc = (saveNo, callback) => {
      callback(saveNo, true);
      this.saveSurveyJson(
        baseUrl + "/modifySurvey",
        this.creator.JSON,
        saveNo,
        callback
      );
    };
    this.creator.render("surveyCreator");

    console.log(this.creator.toolbox.items)
  }
};







//手动补充翻译
const translations = localization.getLocale("zh-cn");
translations.survey.duplicate = "复用";
translations.ed.logic = "逻辑"
translations.pe.surveyTitlePlaceholder = "问卷标题"
translations.ed.addNewQuestion = "添加问题"
translations.ed.survey = "问卷"
translations.ed.surveyTypeName = "问卷"
translations.ed.pageTypeName = "页"
translations.pe.tabs.logo = "问卷标题logo"
translations.pe.logo = "logo (url或者base-64编码的字符串)"
translations.pe.logoWidth = "logo宽度"
translations.pe.logoHeight = "logo高度"
translations.pe.pageTitlePlaceholder = "页标题"
translations.pe.descriptionPlaceholder = "说明"
translations.pe.surveyDescriptionPlaceholder = "说明"
translations.pe.pageDescriptionPlaceholder = "说明"
translations.pe.pages = "页"
translations.p.pages = "页"
translations.pe.tabs.pages = "页"
translations.pe.tabs.logic = "逻辑"
translations.pe.tabs.data = "数据"
translations.pe.tabs.validators = "验证"
translations.pe.tabs.validation = "验证设置"
translations.pe.tabs.showOnCompleted = "问卷完成时"
translations.pv.noPreview = "不能预览"
translations.pv.showAllQuestions = "可以预览所有问题"
translations.pv.showAnsweredQuestions = "展示已回答的问题"
translations.pe.showPreviewBeforeComplete = "在提交问题前预览回答"
translations.p.widthMode = "宽度对齐模式"
translations.pe.tabs.calculatedValues = "计算值"
translations.p.calculatedValues = "计算值"
translations.pe.editText = "编辑按钮文本"
translations.pe.previewText = "预览按钮文本"
translations.qt.image = "图片"
translations.qt.ranking = "排名"
translations.qt.signaturepad = "签名"

</script>
<style scoped>
#surveyCreator {
  height: 100vh;
  width: 100vw;
}
</style>
