<template>
    <div class="fullBlock">
      <a-page-header title="调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
        <template #extra>
          <a-button type="" @click="logout()">注销</a-button>
        </template>

      </a-page-header>
  
      <div class="page">
        <div class="btnArea">
          <template>
            <a-button @click="handleAdd" type="primary">创建用户</a-button>
          </template>
        </div>
        <a-table :dataSource="userList" :columns="userColumns" :rowKey='record => record.id'>
          <template slot="operation" slot-scope="text, record">
            <a-button
              @click="updateUser(record.id, record.userName, record.userDescription, record.userStatus)">修改
            </a-button>
            <a-popconfirm v-if="userList.length" title="确定删除吗?"
              @confirm="deleteUser(record.id, record.userStatus)">
              <a-button>删除</a-button>
            </a-popconfirm>
          </template>
  
          <div slot="filterDropdown" slot-scope="{ setSelectedKeys, selectedKeys, confirm, clearFilters, column }"
            style="padding: 8px">
            <a-input v-ant-ref="c => (searchInput = c)" :placeholder="`Search ${column.dataIndex}`"
              :value="selectedKeys[0]" style="width: 188px; margin-bottom: 8px; display: block;"
              @change="e => setSelectedKeys(e.target.value ? [e.target.value] : [])"
              @pressEnter="() => handleSearch(selectedKeys, confirm, column.dataIndex)" />
            <a-button type="primary" icon="search" size="small" style="width: 90px; margin-right: 8px"
              @click="() => handleSearch(selectedKeys, confirm, column.dataIndex)">
              Search
            </a-button>
            <a-button size="small" style="width: 90px" @click="() => handleReset(clearFilters)">
              Reset
            </a-button>
          </div>
          <a-icon slot="filterIcon" slot-scope="filtered" type="search"
            :style="{ color: filtered ? '#108ee9' : undefined }" />
          <template slot="customRender" slot-scope="text, record, index, column">
            <span v-if="searchText && searchedColumn === column.dataIndex">
              <template v-for="(fragment, i) in text
              .toString()
              .split(new RegExp(`(?<=${searchText})|(?=${searchText})`, 'i'))">
                <mark v-if="fragment.toLowerCase() === searchText.toLowerCase()" :key="i" class="highlight">{{ fragment
                }}</mark>
                <template v-else>{{ fragment }}</template>
              </template>
            </span>
            <template v-else>
              {{ text }}
            </template>
          </template>
  
  
        </a-table>
      </div>
    </div>
  </template>
  <script>
  
  import axios from "axios"
  const baseUrl = `${process.env.VUE_APP_BASEURL}`
  
  export default {
    data() {
      return {
        subTitleText: "用户管理",
        current: [""],
        userList: [],
        userColumns: [],
  
        searchText: '',
        searchInput: null,
        searchedColumn: '',
  
      }
    },
  
  
    //method************************************************
    methods: {
      getUserList() {

      },
      deleteUser: function (id, status) {
        console.log(id,status,axios,baseUrl)
        if (status == "false") {
          this.$message.warn("用户不能删除")
          return
        }

      },
      updateUser: function (id, account,password,phoneNumber, status) {
        if (status == "false") {
          this.$message.warn("用户不能修改")
          return
        }
        this.$router.push({ path: "/userForm", query: { id,account,password,phoneNumber} })
      },
  
      logout: () => {
  
      },
      handleAdd() {
        this.$router.push("/userForm")
      },
  
  
      handleSearch(selectedKeys, confirm, dataIndex) {
        confirm();
        this.searchText = selectedKeys[0];
        this.searchedColumn = dataIndex;
      },
  
      handleReset(clearFilters) {
        clearFilters();
        this.searchText = '';
      },
  
  
  
  
  
  
    },
    //hook***************************************
    mounted: function () {
      console.log(this.$store.state.userInfo)
      this.getUserList();
      this.userColumns = [
        {
          title: "用户id",
          dataIndex: "id",
          width: "20%",
          scopedSlots: {
              filterDropdown: 'filterDropdown',
              filterIcon: 'filterIcon',
              customRender: 'customRender',
            },
            onFilter: (value, record) =>
              record.id
                .toString()
                .toLowerCase()
                .includes(value.toLowerCase()),
            onFilterDropdownVisibleChange: visible => {
              if (visible) {
                setTimeout(() => {
                  this.searchInput.focus();
                }, 0);
              }
            },
        },
        {
          title: "账号",
          dataIndex: "account",
          width: "15%",
          scopedSlots: {
              filterDropdown: 'filterDropdown',
              filterIcon: 'filterIcon',
              customRender: 'customRender',
            },
            onFilter: (value, record) =>
              record.userName
                .toString()
                .toLowerCase()
                .includes(value.toLowerCase()),
            onFilterDropdownVisibleChange: visible => {
              if (visible) {
                setTimeout(() => {
                  this.searchInput.focus();
                }, 0);
              }
            },
        },
        {
          title: "电话号码",
          dataIndex: "phoneNumber",
          width: "20%",
          scopedSlots: {
              filterDropdown: 'filterDropdown',
              filterIcon: 'filterIcon',
              customRender: 'customRender',
            },
            onFilter: (value, record) =>
              record.userDescription
                .toString()
                .toLowerCase()
                .includes(value.toLowerCase()),
            onFilterDropdownVisibleChange: visible => {
              if (visible) {
                setTimeout(() => {
                  this.searchInput.focus();
                }, 0);
              }
            },
        },
        {
          title: "用户状态",
          dataIndex: "status",
          width: "10%",
          scopedSlots: {
              filterDropdown: 'filterDropdown',
              filterIcon: 'filterIcon',
              customRender: 'customRender',
            },
            onFilter: (value, record) =>
              record.userStatus
                .toString()
                .toLowerCase()
                .includes(value.toLowerCase()),
            onFilterDropdownVisibleChange: visible => {
              if (visible) {
                setTimeout(() => {
                  this.searchInput.focus();
                }, 0);
              }
            },
        },
        {
          title: "操作",
          dataIndex: "operation",
          width: "35%",
          scopedSlots: { customRender: 'operation' },
        }
  
      ]
    }
  }
  
  
  
  </script>