<template>
    <div class="fullBlock">
      <a-page-header title="调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
        <template #extra>
          <a-button type="" @click="logout()">注销</a-button>
        </template>
  
      </a-page-header>
      <div class="narrPage">
        <div class="formBox">
          <div class="formArea">
            <a-row>
              <a-col :span="24">
                <a-input v-model="userInfo.account" placeholder="用户账号"></a-input>
              </a-col>
            </a-row>
            <a-row>
              <a-col :span="24">
                <a-input v-model="userInfo.password" placeholder="用户密码"></a-input>
              </a-col>
            </a-row>
            <a-row>
              <a-col :span="24">
                <a-input v-model="userInfo.phoneNumber" placeholder="用户电话号码"></a-input>
              </a-col>
            </a-row>
            <a-row>
              <a-col :span="24">
                <a-button type="primary" @click="handleClick()" block>提交</a-button>
              </a-col>
            </a-row>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  
  const baseUrl = `${process.env.VUE_APP_BASEURL}`
  export default {
  
    data() {
      return {
        subTitleText: "创建用户",
        current: [""],
        userInfo: {
          userName: "",
          userDescription: "",

        }
      }
    },
  
    methods: {
      logout() {
  
      },
      createUser() {
       console.log(axios, baseUrl)
      },
      handleClick() {
      
      },
      modifyUser() {
       
      },

    },
  
    mounted: function () {
      if(this.$route.query.id){
        this.subTitleText = "修改用户"
      }
      this.userInfo.account = this.$route.query.account
      this.userInfo.password = this.$route.query.password
      this.userInfo.password = this.$route.query.phoneNumber
    }
  
  
  }
  </script>